<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-android-kiosk" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Kiosk</name>

    <js-module name="Kiosk" src="www/Kiosk.js">
        <clobbers target="Kiosk" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Kiosk">
                <param name="android-package" value="com.example.template.kiosk.plugin.Kiosk" />
            </feature>
        </config-file>

        <source-file src="src/android/KioskActivity.java" target-dir="src/com/example/template/kiosk/plugin" />
        <source-file src="src/android/Kiosk.java" target-dir="src/com/example/template/kiosk/plugin" />
        <source-file src="src/android/MyPackageReplacedEventReceiver.java" target-dir="src/com/example/template/kiosk/plugin" />
        <source-file src="src/android/MyAdmin.java" target-dir="src/com/example/template/kiosk/plugin" />
        <source-file src="src/android/xml/my_admin.xml" target-dir="res/xml/" />
    </platform>
</plugin>
